.container {
  display: flex;
  align-items: center;

  color: var(--white);

  p {
    font-size: var(--fontsize__button);
  }

  svg {
    margin-left: var(--space__alpha);
    font-size: var(--fontsize__h6);
  }
}
