{
  "extends": "stylelint-config-standard-scss",
  "plugins": ["stylelint-prettier"],
  "ignoreFiles": ["**/*.{ts,tsx}"],
  "rules": {
    "prettier/prettier": true,
    "declaration-empty-line-before": null,
    "custom-property-pattern": null,
    "custom-property-empty-line-before": null,
    "selector-class-pattern": null
  }
}