@import '../../styles/mixins';

.button__text {
  display: flex;
  align-items: center;

  color: var(--white);

  p {
    font-size: var(--fontsize__button);
  }

  svg {
    margin-left: var(--space__alpha);
    font-size: var(--fontsize__h6);
  }
}

@include responsiviness(tablet) {
  .button__text {
    p {
      font-size: var(--fontsize__caption);
    }
  }
}
