.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;

    margin-top: var(--space__zulu);
    border-radius: var(--borders__bravo);
    max-width: 35rem;
    width: 100%;
    padding: var(--space__alpha);

    button {
      margin-top: var(--space__charlie);
    }
  }
}
