.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    margin-top: var(--space__bravo);

    color: var(--black__light);
    text-transform: uppercase;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    svg {
      align-self: center;
    }

    margin-top: var(--space__zulu);
    border-radius: var(--border__bravo);
    max-width: 35rem;
    width: 100%;
    padding: var(--space__alpha);

    button {
      margin-top: var(--space__charlie);
    }
  }
}
