@import '../../../styles/mixins';

.spinner--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: var(--space__bravo) 0;
}

.content__container {
  animation: linear;
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

.content {
  display: grid;
  gap: var(--space__echo);
  grid-template-areas: 'personal_info' 'physical_info' 'financial_info' 'job_info';

  margin-top: var(--space__bravo);

  h6 {
    color: var(--black__light);
  }

  .personal--info {
    grid-area: personal_info;
  }

  .financial--info {
    grid-area: financial_info;
  }

  .physical--info {
    grid-area: physical_info;
  }

  .job--info {
    grid-area: job_info;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include responsiviness-up(desktop) {
  .content {
    grid-template-areas: 'personal_info financial_info' 'personal_info physical_info' 'job_info job_info';
  }
}
