@import './palette';
@import './spacing';
@import './typography';
@import './mixins';

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none !important;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  border: none;
  outline: none;
}

h1 {
  font-size: var(--fontsize__h1);
}

h2 {
  font-size: var(--fontsize__h2);
}

h3 {
  font-size: var(--fontsize__h3);
}

h4 {
  font-size: var(--fontsize__h4);
}

h5 {
  font-size: var(--fontsize__h5);
}

h6 {
  font-size: var(--fontsize__h6);
}

button {
  margin: 0;
  border: none;
  width: auto;
  overflow: visible;
  cursor: pointer;
  padding: 0;

  background: transparent;

  color: inherit;
  font: inherit;
  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

body,
main,
section {
  height: 100vh;
}

@include responsiviness-up(xm) {
  * {
    font-size: 10px;
  }
}

@include responsiviness-up(smartphone) {
  * {
    font-size: 10px;
  }
}

@include responsiviness-up(tablet) {
  * {
    font-size: 12px;
  }
}

@include responsiviness-up(desktop) {
  * {
    font-size: 14px;
  }
}
