:root {
  --space__alpha: 0.75rem;
  --space__bravo: 1rem;
  --space__charlie: 1.5rem;
  --space__delta: 2rem;
  --space__echo: 2.5rem;
  --space__foxtrot: 3rem;
  --space__golf: 4rem;
  --space__hotel: 5rem;
  --space__zulu: 15rem;

  --border__alpha: 4px;
  --border__bravo: 8px;
}
