:root {
  --fontsize__h1: 6rem;
  --fontsize__h2: 4rem;
  --fontsize__h3: 3rem;
  --fontsize__h4: 2.5rem;
  --fontsize__h5: 2rem;
  --fontsize__h6: 1.5rem;

  --fontsize__subtitle: 1rem;

  --fontsize__body: 1rem;

  --fontsize__button: 0.875rem;
  --fontsize__caption: 0.75rem;
}
