@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: row;

  .content {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: var(--space__charlie);

    background-color: var(--background);
  }
}

@include responsiviness-down(desktop) {
  .container {
    flex-direction: column;
  }
}
