@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;

  .content {
    padding: var(--space__charlie);
    width: 100%;
    background-color: var(--background);
  }
}

@include responsiviness-up(desktop) {
  .container {
    flex-direction: row;
  }
}
