@import '../../styles/mixins';

.container {
  position: fixed;
  top: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border__alpha);
  width: 30%;
  padding: var(--space__bravo);

  visibility: hidden;
  opacity: 0;

  &.open {
    animation: linear;
    animation-name: fade-in;
    animation-duration: 4s;
    animation-timing-function: ease-in;
  }

  &.success {
    background-color: var(--success);
  }

  &.error {
    background-color: var(--error);
  }

  p,
  svg {
    color: var(--white);
    font-size: var(--fontsize__button);
    font-weight: 700;
  }

  svg {
    font-size: var(--fontsize__h6);
  }
}

@include responsiviness-down(smartphone) {
  .container {
    width: 100%;
  }

  .container.open {
    animation-name: fade-in-smartphone;
  }
}

@keyframes fade-in-smartphone {
  0% {
    right: -100%;
    opacity: 1;
    visibility: visible;
  }

  25% {
    right: 0%;
    opacity: 1;
  }

  50% {
    right: 0%;
    opacity: 1;
  }

  75% {
    right: 0%;
    opacity: 1;
  }

  85% {
    right: 0%;
    opacity: 1;
  }

  100% {
    right: -100%;
    opacity: 1;
    visibility: hidden;
  }
}

@keyframes fade-in {
  0% {
    right: -100%;
    opacity: 1;
    visibility: visible;
  }

  25% {
    right: 10%;
    opacity: 1;
  }

  50% {
    right: 10%;
    opacity: 1;
  }

  75% {
    right: 10%;
    opacity: 1;
  }

  85% {
    right: 10%;
    opacity: 1;
  }

  100% {
    right: -100%;
    opacity: 1;
    visibility: hidden;
  }
}
